.gameOptions {
	height: 720px;
	width: 720px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: auto;
}

.selectOptions {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

select{
	margin-top: 40%;
	margin-bottom: 40%;
}